<th:block>
    <head>
        <meta charset="utf-8">
        <title>Add new Student to Course</title>
        <style type="text/css">
            table, td, th {
                border: 1px solid black;
                padding: 3px 2px;
            }
            #cont{
                display:flex;
                justify-content: space-between;
            }

            aside {
                float: right;
                padding: 50px 50px;
            }

            #sec{
                order: -1;
            }
        </style>
    </head>
    <body>
    <div id="cont">
        <form th:method="POST" th:action="@{/students/studentEnrollmentSummary}">
            <section id="sec">
                <h2 class="text-info">Select the student to enroll:</h2>
                <a th:href="@{/students/addStudent}" type="button">Create New Student</a> <br/> <br/>
                <input type="radio" name="student" th:each="student : ${studentsList}"
                       th:value="${student.getUsername()}"
                       th:text="${student.getName()} + ' ' + ${student.getSurname()}">
                <br/>
                <input type="submit" th:value="Submit"/>
            </section>
        </form>
        <aside>
            <table>
                <tr>
                    <th colspan="2">
                        Your Enrollment Status
                    </th>
                </tr>
                <tr>
                    <td><b>Course Id</b></td>
                    <td th:text="${session.courseId}"></td>
                </tr>
            </table>
        </aside>
    </div>
    </body>
</th:block>