<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title> WP lab - Select a student here </title>
</head>
<body>
<header>
    <h1> Select student to find courses! </h1>
    <form th:method="POST" th:action="@{/students/courseEnroll}">
        <ul>
            <li th:each="student : ${studentsList}">
                <label>
                    <input type="radio" name="selectedStudent" th:text="${student.getName()}" th:value="${student.getName()}+'-'+${student.getSurname()} + '-' + ${student.getUsername()}">
                </label>
            </li>
        </ul>
        <input type="submit" th:value="Submit">
    </form>
</header>
</body>
</html>